<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Attendance Pannel</title>
  <link rel="icon" type="image/png" href="logo/logo.png">

  <link href="https://nepalidatepicker.sajanmaharjan.com.np/nepali.datepicker/css/nepali.datepicker.v4.0.4.min.css" rel="stylesheet" type="text/css"/>


  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"></script>

</head>

<body>
  <nav class="bg-blue-500 p-4 flex items-center justify-between absolute min-w-full">
    <div>
      <h1 class="text-white text-xl font-semibold">EverestWalk Groups</h1>
    </div>
    <div>
      <span class="text-white">RFID Attendance System</span>
    </div>
    <div class="flex items-center space-x-4">
      <a class="text-white" href="/logout">Logout</a>
    </div>

  </nav>



  <div class="flex">