<div id="sidebar" class=" bg-gray-800 text-white w-64 px-4 min-h-screen pt-20">
   <ul class="space-y-2">
      <li>
         <a class="flex items-center p-2 text-base font-normal rounded-lg hover:bg-gray-100 hover:text-gray-900"
            href="/dashboard"><span class="ml-3">Dashboard</span></a>
      </li>
      <li>
         <a class="flex items-center p-2 text-base font-normal rounded-lg hover:bg-gray-100 hover:text-gray-900"
            href="/register"><span class="ml-3">Register</span></a>
      </li>
      <!-- <li>
         <a class="flex items-center p-2 text-base font-normal rounded-lg hover:bg-gray-100 hover:text-gray-900"
            href="/employee"><span class="ml-3">Attendence log</span></a>
      </li> -->
      <li>
         <a class="flex items-center p-2 text-base font-normal rounded-lg hover:bg-gray-100 hover:text-gray-900"
            href="/manual-entry"><span class="ml-3">Manual Attendence</span></a>
      </li>

      <li>
         <a class="flex items-center p-2 text-base font-normal rounded-lg hover:bg-gray-100 hover:text-gray-900"
            href="/employee"><span class="ml-3">Employee</span></a>
      </li>

      <li>
         <a class="flex items-center p-2 text-base font-normal rounded-lg hover:bg-gray-100 hover:text-gray-900"
            href="/admin"><span class="ml-3">Admins</span></a>
      </li>
      <li>
         <a class="flex items-center p-2 text-base font-normal rounded-lg hover:bg-gray-100 hover:text-gray-900"
            href="/attendancelogs"><span class="ml-3">Attendance Log</span></a>
      </li>
      <li>
         <a class="flex items-center p-2 text-base font-normal rounded-lg hover:bg-gray-100 hover:text-gray-900"
            href="/position"><span class="ml-3">Position</span></a>
      </li>
      <li>
         <a class="flex items-center p-2 text-base font-normal rounded-lg hover:bg-gray-100 hover:text-gray-900"
            href="/report"><span class="ml-3">Log Report</span></a>
      </li>
   </ul>
</div>
<div class="block flex-1 relative pl-8 pt-20 overflow-x-auto max-w-full">
